/* ===== FONT IMPORT ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* ===== VARIABLE IMPORT ===== */
@import url("../utils/Variable.css");

/* ===== BASE STYLE ===== */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:Poppins,sans-serif;
    background-color: var(--bg-color);
}

h1,h2,h3,h4{
    color: var(--title-text-color);
    font-weight: var(--fw_sb); 
}

a{
    text-decoration:none;
    
}

button {
    cursor: pointer;
    border: none;
    outline: none;
  }