<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- ===== PAGE CSS ===== -->
     <link rel="stylesheet" href="../assets/css/pages/Explore_Style.css">

    <title>Document</title>
</head>
<body>
    <!-- ========== NAVBAR ========== -->

    <nav class="navbar" id="navbar">
        <div class="inner__container">
            <h2 class="nav__logo">InstaLite</h2>

            <div class="nav__items">
                <a href="../index.html" class="nav__link"><span class="iconify" data-icon="ant-design:home-filled"></span></a>
                <a href="" class="nav__link"><span class="iconify" data-icon="carbon:add-filled"></span></a>
                <a href="Explore_Page.html" class="nav__link"><span class="iconify" data-icon="ic:baseline-explore"></span></a>
                <a href="" class="nav__link"><span class="iconify" data-icon="wpf:like"></span></a>
                <a href="User_Page.html" class="nav__link"><span class="iconify" data-icon="bx:bxs-user"></span></a>
            </div>

            <img src="assets/img/navbar-img.svg" alt="User Profile" class="nav__img">
        </div>

        <!-- ===== Mobile Navbar ===== -->
        <div class="m-nav__items">
            <a href="../index.html" class="m-nav__link"><span class="iconify" data-icon="ant-design:home-filled"></span></a>
            <a href="" class="m-nav__link"><span class="iconify" data-icon="carbon:add-filled"></span></a>
            <a href="Explore_Page.html" class="m-nav__link"><span class="iconify" data-icon="ic:baseline-explore"></span></a>
            <a href="" class="m-nav__link"><span class="iconify" data-icon="wpf:like"></span></a>
            <a href="User_Page.html" class="m-nav__link"><span class="iconify" data-icon="bx:bxs-user"></span></a>
        </div>
    </nav>



    <!-- ========== MAIN CONTENT ========== -->
    <section class="explore_section">
        <div class="explore_container">
            <div class="img__container">
                <img src="assets/img/explore_page/post (3).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (2).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (1).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (4).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (6).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (5).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (7).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (8).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (9).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (10).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (11).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (12).png" alt="" class="img__">
            </div>

            <div class="img__container">
                <img src="assets/img/explore_page/post (13).png" alt="" class="img__">
            </div>
        </div>
    </section>


<!-- ===== Iconify Import ===== -->
<script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

</body>
</html>
