<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===== GLOBAL STYLE ===== -->
    <link rel="stylesheet" href="../assets/css/base/Global_Style.css">
    <!-- ===== RESPONSIVE STYLE =====
    <link rel="stylesheet" href="assets/css/base/Responsive.css"> -->
    <!-- ===== PAGE CSS ===== -->
    <link rel="stylesheet" href="../assets/css/pages/Login_Style.css">

    <title>Login Form</title>
</head>
<body>
    <!-- ========== FORM ========== -->

    <section class="signup__section" id="signup__section">
        <div class="form__container">
            <!-- Left Content Container -->
            <div class="container_left"> 
                <form action="../index.html" method="" class="signup__form login__form">
                    <div class="form__header">
                        <h2 class="form__title">InstaLite</h2>
                        <h4 class="form_type">Login</h4>
                    </div>

                    <div class="form__items">
                        <label for="username" name="username" class="form__label">Username</label>
                        <input type="text" name="username" class="form__input">
                    </div>

                    <div class="form__items">
                        <label for="password" name="password" class="form__label">Password</label>
                        <input type="password" name="password" class="form__input">
                    </div>

                    <input type="submit" class="form_button" value="Submit">
                    
                    <p class="link__form">Don't have an account? <a href="Signup_Page.html">Sign Up</a></p>
                </form>
                
            </div>
            <!-- Right Content Container -->
            <div class="container_right">
                <img src="assets/img/login-image.png" alt="" class="form__image">
            </div>
        </div>
    </section>

    <!-- ========== END FORM ========== -->
</body>
</html>
