<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===== GLOBAL STYLE ===== -->
    <link rel="stylesheet" href="assets/css/base/Global_Style.css">

    <!-- ===== PAGE CSS ===== -->
    <link rel="stylesheet" href="assets/css/pages/Signup_Style.css">

    <title>Signup Form</title>
</head>
<body>
    <!-- ========== FORM ========== -->

    <section class="signup__section" id="signup__section">
        <div class="form__container">
            <!-- Left Content Container -->
            <div class="container_left"> 
                <form action="" method="" class="signup__form">
                    <div class="form__header">
                        <h2 class="form__title">InstaLite</h2>
                        <h4 class="form_type">Sign Up</h4>
                    </div>

                    <div class="form__items">
                        <label for="email" name="email" class="form__label">Email Address</label>
                        <input type="email" name="email" class="form__input">
                    </div>

                    <div class="form__items">
                        <label for="username" name="username" class="form__label">Username</label>
                        <input type="text" name="username" class="form__input">
                    </div>

                    <div class="form__items">
                        <label for="password" name="password" class="form__label">Password</label>
                        <input type="password" name="password" class="form__input">
                    </div>

                    <input type="submit" class="form_button" value="Submit">
                    
                    <p class="link__form">Alredy have an account? <a href="Login_Page.html">Login</a></p>
                </form>
                
            </div>
            <!-- Right Content Container -->
            <div class="container_right">
                <img src="assets/img/signup-image.png" alt="" class="form__image">
            </div>
        </div>
    </section>

    <!-- ========== END FORM ========== -->
</body>
</html>