<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/pages/User_Style.css">

    <title>Document</title>
</head>
<body>
    <!-- ========== NAVBAR ========== -->

    <nav class="navbar" id="navbar">
        <div class="inner__container">
            <h2 class="nav__logo">InstaLite</h2>

            <div class="nav__items">
                <a href="../index.html" class="nav__link"><span class="iconify" data-icon="ant-design:home-filled"></span></a>
                <a href="Upload_Page.html" class="nav__link"><span class="iconify" data-icon="carbon:add-filled"></span></a>
                <a href="Explore_Page.html" class="nav__link"><span class="iconify" data-icon="ic:baseline-explore"></span></a>
                <a href="" class="nav__link"><span class="iconify" data-icon="wpf:like"></span></a>
                <a href="User_Page.html" class="nav__link"><span class="iconify" data-icon="bx:bxs-user"></span></a>
            </div>

            <img src="../assets/img/navbar-img.svg" alt="User Profile" class="nav__img">
        </div>

        <!-- ===== Mobile Navbar ===== -->
        <div class="m-nav__items">
            <a href="../index.html" class="m-nav__link"><span class="iconify" data-icon="ant-design:home-filled"></span></a>
            <a href="Upload_Page.html" class="m-nav__link"><span class="iconify" data-icon="carbon:add-filled"></span></a>
            <a href="Explore_Page.html" class="m-nav__link"><span class="iconify" data-icon="ic:baseline-explore"></span></a>
            <a href="" class="m-nav__link"><span class="iconify" data-icon="wpf:like"></span></a>
            <a href="User_Page.html" class="m-nav__link"><span class="iconify" data-icon="bx:bxs-user"></span></a>
        </div>
    </nav>


    <!-- ========== MAIN CONTENT ========== -->
    <setion class="user-profile__section" id="user-profile__section">
        <div class="user__content">
        <!-- ===== User Information ===== -->
            <section class="detail__user">
                <div class="user__data">
                    <div class="left__">
                        <img src="../assets/img/user_profile-image.png" alt="" class="user__profile_image">

                            <div class="detail__user_data">
                                <div class="user__name-detail">
                                    <h2 class="username">Tresna Agustina</h2>
                                    <button class="edit"><a href="" class="edit__btn">edit profile</a></button>
                               </div>

                               <div class="detail__info">
                                <p class="post__count"><b>2</b> post</p>
                                <p class="followers__count"><b>1M</b> followers</p>
                                <p class="folowing__count"><b>0</b> folowing</p>
                            </div>

                               <div class="user__bio">
                                   <p class="bio__">Be Your Self and Never surrender</p>
                               </div>

                        </div>

                    </div>
                    

                </div>

                <div class="m-detail__info">
                    <p class="m-post__count"><b>2</b> post</p>
                    <p class="m-followers__count"><b>1M</b> followers</p>
                    <p class="m-folowing__count"><b>0</b> folowing</p>
                </div>

                <div class="act__btn">
                    <a href="" class="post btn1"> <span class="iconify" data-icon="bi:grid-1x2-fill"></span></a>
                    <a href="" class="saved btn1"> <span class="iconify" data-icon="bi:bookmark-fill"></span></a>
                    <a href="" class="tagged btn1"> <span class="iconify" data-icon="fa-solid:user-tag"></span></a>
                </div>
            </section>

        </div>
    </setion>


            <!-- ===== Post ===== -->
            <section class="post__section">
                <div class="post__container">
                    <div class="post__image">
                        <img src="../assets/img/user_profile/post1.png" alt="" class="img__">
                    </div>

                    <div class="post__image">
                        <img src="../assets/img/user_profile/post2.png" alt="" class="img__">
                    </div>

                    <div class="post__image">
                        <img src="../assets/img/user_profile/post4.png" alt="" class="img__">
                    </div>

                    <div class="post__image">
                        <img src="../assets/img/user_profile/post3.png" alt="" class="img__">
                    </div>

                    <div class="post__image">
                        <img src="../assets/img/user_profile/post6.png" alt="" class="img__">
                    </div>

                    <div class="post__image">
                        <img src="../assets/img/user_profile/post7.png" alt="" class="img__">
                    </div>

                    <div class="post__image">
                        <img src="../assets/img/user_profile/post5.png" alt="" class="img__">
                    </div>

                    <div class="post__image">
                        <img src="../assets/img/user_profile/post8.png" alt="" class="img__">
                    </div>

                    <div class="post__image">
                        <img src="../assets/img/user_profile/post9.png" alt="" class="img__">
                    </div>
                </div>
            </section>


            <!-- ===== Footer ===== -->
            <footer>
                <div class="information">
                    <a href="" class="info__">Meta</a>
                    <a href="" class="info__">About</a>
                    <a href="" class="info__">Blog</a>
                    <a href="" class="info__">Jobs</a>
                    <a href="" class="info__">API</a>
                    <a href="" class="info__">Help</a>
                    <a href="" class="info__">Privacy</a>
                    <a href="" class="info__">Terms</a>
                </div>
                <p class="c">Copyright &copy; 2022 | <span class="ct" >InstaLite</span></p>
            </footer>




   
<!-- ===== Fontawesome Import ===== -->
<script src="https://kit.fontawesome.com/199bad1da3.js" crossorigin="anonymous"></script>
<!-- ===== Iconify Import ===== -->
<script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</body>
</html>
