/* Import Variable */
@import url("../utils/Variable.css");

/* Import Global Style */
@import url("../base/Global_Style.css");

@import url("../components/Navbar_Global_Style.css");


/* ========== Explore Content ========== */
.explore_section{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 90px;
}

.explore_container{
    width: 80%;
    column-count: 1;
    column-gap: .7rem;
}

.img__container{
    width: 100%;
    height: auto;
}

.img__{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media screen and (min-width:700px){
    .explore_container{
        width: 70%;
        column-count:2;
    }
}

@media screen and (min-width:1080px){
    .explore_container{
        width: 55%;
        column-count:3;
    }
}